<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stock News</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    
</head>
<body>
    <header>
        <h1>Welcome to Stock News</h1>
    </header>
    <div id="searchingOverlay" class="overlay">
        <div class="overlayContent">
            <p>Searching for Updated News Data...</p>
        </div>
    </div>
    <footer>
        <p style="font-size: 10px;">&copy; 2025 ASX. All rights reserved.</p>
        <p id="datetime" style="font-size: 10px;">Accurate as at {{ formattedDateTime }} AEST</p>
        <p style="font-size: 10px;">Powered by yFinance</p>
    </footer>
    <script> 
        const searchingOverlay = document.getElementById("searchingOverlay");
        searchingOverlay.style.display = "flex";
        console.log('turn On Searching Overlay');
    </script>
    
    <script src="{{ url_for('static', filename='script.js') }}"></script>    
</body>
</html>